body {
  font-family: sans-serif;
  text-transform: capitalize;
}

label {
  letter-spacing: -1px;
  font-weight: 548;
  font-size: 0.9rem;
  margin: 5px;
}

h2 {
  color: tomato;
  font-size: 1rem;
  margin-left: 175px;
}

input {
  border-radius: 5px;
  margin-bottom: 10px;
  border-color: lightgray;
  width: 30rem;
  height: 2rem;
  border-style: outset;
  border-width: thin;
}

select {
  background-color: whitesmoke;
  margin-bottom: 10px;
  width: 30rem;
  border-radius: 5px;
  height: 2rem;
}

button {
  color: white;
  background-color: tomato;
  border-radius: 15rem;
  border: white;
  margin-left: 26.5rem;
  height: 2rem;
  padding-right: 10px;
  padding-left: 10px;
}

form {
  margin: 0 auto;
  width: 600px;
}

input:placeholder-shown {
  text-indent: 7px;
}
